table{
    color: #fff;
    text-align: center;
    border-collapse: collapse;
    font: normal 3em arial, helvetica, sans-serif;
}

tr{
    height: 16.02vh;
    background-color: #4e494d;
}

td{
    width: 25vw;
    border: 1px solid #4e494d;
}

#inputbox{
    background-color: #4e494d;
    text-align: right;
    width:99%;
    font-size: 2em;
    color: #fff;
    border: 0px;
}

.digitbutton{
    background-color: #807e80;
}

.operatorbutton{
    background-color: #ff9e06;
}

.acbutton{
    background-color: #656165;
}

.heading{
    text-align: center;
    font: normal 3em arial, helvetica, sans-serif;
    color: #ff9e06;
    z-index: 600;
}

.paragraphs{
    text-align: center;
    font: normal 3em arial, helvetica, sans-serif;
    text-decoration: none;
    z-index: 600;
}

.links{
    text-decoration: none;
    color: #ff9e06;
    z-index: 600;
}


#wallpaper{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 500;
    width: 100%;
    height: 100%;
    background-image: url(images/mathematics-i-love-math-typography-m9byr6xwb8rr19ry.jpg);
    background-color: #333;
    display: block;
    background-size: cover;       /* or "contain" */
    background-position: center;
    background-repeat: no-repeat;
}

#intro{
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 600; /* higher than wallpaper */
    color: white;
}

#description{
    position: fixed;
    top: 600px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 600; /* higher than wallpaper */
    color: white;
}

body{
    background-color: #4e494d;
}